.header {
    top: 0;
    left: 0;
    font-family: 'Poppins', sans-serif;

    .header__container {
        .header__container__navbar {
            .logo {
                color: white;
                font-weight: 700;
                text-decoration: none;
                font-size: 2rem;
                text-transform: uppercase;
                letter-spacing: 2px;
                z-index: 10;
            }

            ul {
                z-index: 10;
                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: white;
                        border-radius: 20px;
                    }

                    a:hover, a.active {
                        background: white;
                        color: map-get($map: $colors, $key: blue-dark);
                    }
                }
            }
        }
    }
}