@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Poppins:wght@100;300;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(map-get($map: $colors, $key: blue-dark), map-get($map: $colors, $key: blue-regular));
    min-height: 100vh;
    overflow: hidden;
}
