@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Poppins:wght@100;300;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#03264C, #2F4C78);
  min-height: 100vh;
  overflow-x: hidden;
}

.header {
  top: 0;
  left: 0;
  font-family: "Poppins", sans-serif;
}
.header .header__container .header__container__navbar .logo {
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 10;
}
.header .header__container .header__container__navbar ul {
  z-index: 10;
}
.header .header__container .header__container__navbar ul li {
  list-style: none;
}
.header .header__container .header__container__navbar ul li a {
  text-decoration: none;
  color: white;
  border-radius: 20px;
}
.header .header__container .header__container__navbar ul li a:hover, .header .header__container .header__container__navbar ul li a.active {
  background: white;
  color: #03264C;
}

@keyframes floatUp {
  from {
    transform: translateY(20vh);
    opacity: 1;
  }
  to {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.main .floating-number {
  font-family: "Creepster";
  font-size: 6.5rem;
  color: #09FF00;
  text-shadow: 0 0 40px #09FF00;
  position: absolute;
  margin: -25px;
  padding: 25px;
  cursor: pointer;
  animation: floatUp 10s linear;
  z-index: 10;
}
.main .game-over-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #000000;
  background-color: #ffffff;
  padding: 20px;
  border: 2px solid #000000;
  display: none;
  z-index: 10;
}
.main .show {
  display: block;
}
.main section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
}
.main section .main__button {
  display: inline-block;
  font-family: "Creepster";
  text-decoration: none;
  color: white;
  text-shadow: 0 0 40px white;
  font-size: 3rem;
  z-index: 4;
  transform: translateY(-15vh);
  background: #000000;
  border-radius: 40px;
}
.main section h1 {
  font-family: "Creepster";
  font-size: 7vw;
  color: #09FF00;
  text-shadow: 0 0 40px #09FF00;
  z-index: 10;
  transform: translateY(10vh);
}
.main section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.main section img#stars {
  z-index: 1;
}
.main section img#moon {
  mix-blend-mode: screen;
  z-index: 2;
}
.main section img#house {
  z-index: 3;
}
.main section img#secondary-background {
  z-index: 5;
}
.main section img#main-background {
  z-index: 7;
}
.main section img#left-ghost, .main section img#right-ghost {
  z-index: 8;
}
.main section img#tombs {
  z-index: 9;
}
.main section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15vh;
  background: linear-gradient(to top, #03264C, transparent);
  z-index: 10;
}
.main .game_screen {
  background: #03264C;
  height: 100vh;
  overflow-y: hidden;
}

@media (max-width: 768px) {
  .main section h1 {
    font-size: 12.5vw;
  }
}

/*# sourceMappingURL=styles.css.map */
